<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

	<!--ADDED SPACE SO SIGN UP BUTTON IS IN SAME SPOT AS SIGN IN BUTTON (LOOKS LESS JANKY)-->
    <div class="submit-field">
	<br>
	&nbsp;
         <%= form.submit %>
	
    </div>
	
	
    <div class="other-links">
      <!--COMMENTED OUT DUPLICATE SIGN IN BUTTON
	<%= link_to t(".sign_in"), sign_in_path %>
	-->
    </div>


  <% end %>
</div>
